.LocationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 35px;
}

.LocationCont h1{
    margin-top: 15px;
    margin: 0px;
}
.weatherLocationCont{
    box-sizing: content-box;
    box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.49);
    border-radius: 10px;
    margin-right: 10px;
    width: calc(100% - 80px);
    min-width: 3px;
    padding: 15px;
    text-align: left;
    font-family: "Raleway", sans-serif;
    background-color: #3F51B5;
}

