.weatherDataCont{
    background: #9FA8DA;
    width: calc(100% - 40px);
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    padding: 20px;
}

.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 30px;
}

.weatherTemperatureCont{
    width: 60%;
    display: inline-block;
}

.wicon{
    font-size: 35px;
    color: #333;
}

.temperature{
    font-size: 35px;
    font-weight: bold;
    padding-left: 5px;
    color: #333;
}

.temperatureType{
    font-weight: bold;
    color: #444
}

.extraInfoText{
    display: block;
    color: #888;
    font-size: 18px;
    font-weight: bold;
}