
@media (max-width: 48em) {
    .locationList {
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Raleway", sans-serif;
}
.detail {
    border-radius: 5px;
    padding-right: 2opx;
    padding-left: 20px;
}